include ./dress-item

mixin contentMain 
    .content
        .content-main__inner
            .content-main
                .content-main__dress
                    +dressItem ('COLOUR BLOCK FAUX SUEDE T-SHIRT', '$10')
                    +dressItem ('COLOUR BLOCK FAUX SUEDE T-SHIRT', '$11')
                    +dressItem ('COLOUR BLOCK FAUX SUEDE T-SHIRT', '$12')
                    +dressItem ('COLOUR BLOCK FAUX SUEDE T-SHIRT', '$13')
                    +dressItem ('COLOUR BLOCK FAUX SUEDE T-SHIRT', '$14')
                    .dress-slider
                        a.dress-slider__item(href="#")
                        a.dress-slider__item(href="#")
                        a.dress-slider__item(href="#")
                        a.dress-slider__item(href="#")
                        a.dress-slider__item(href="#")
                .content-main__model 
                    img.content-main__model-image(src='../images-min/content-main__model.png' alt="Model photo")
                .content-main__logo
                    img.content-main__logo__image(src='../images-min/logo.png' alt="Logo")
                a.content-main__shop(href="#") shop
//       input(type="text" id="date" autocomplete="off" placeholder="Выбор даты")
        
        