mixin content-main 
    .content
        .content-main__inner
            .content-main
                .content-main__dress
                    .dress-item
                        img.dress-item__image(src='../images-min/dress-item__image.png' alt="Dress example")
                        .dress-item__inner
                            .dress-item__rectangle
                            .dress-item__text
                                .dress-item__text-name COLOUR BLOCK FAUX <br> SUEDE T-SHIRT 
                                .dress-item__text-price $15
                    .dress-slider
                        a.dress-slider__item(href="#")
                        a.dress-slider__item(href="#")
                        // "--active" модификатор
                        a.dress-slider__item(href="#")
                        a.dress-slider__item(href="#")
                        a.dress-slider__item(href="#")
                .content-main__model 
                    img.content-main__model-image(src='../images-min/content-main__model.png' alt="Model photo")
                .content-main__logo
                    img.content-main__logo__image(src='../images-min/logo.png' alt="Logo")
                a.content-main__shop(href="#") shop
//       input(type="text" id="date" autocomplete="off" placeholder="Выбор даты")
        
        