mixin header
    .header
        .header__inner
            .header__menu
                .header-menu__button
                .header-menu__title menu
            .header__search srch
            .header__cart
                .header-cart__title cart
                .header-cart__count 2