mixin header
    .header
        .header__inner
            .header-menu
                a.header-menu__button(href="#")
                    .header-menu__button-up
                    .header-menu__button-down
                .header-menu__title menu
            .header-search srch
            .header-cart
                .header-cart__stroke
                .header-cart__title cart
                .header-cart__count 2