.content
    background-color: #fff
    z-index: 10
    display: flex
    flex-direction: column
    &-main
        display: grid
        gap: 0px
        grid-template-columns: 1fr 1fr
        position: relative
        flex-grow: 1
        &__inner
            display: flex
            flex-direction: column
            flex-grow: 1
        &__dress
            width: 40%
            height: 100%
            margin: auto auto
            display: flex
            flex-direction: column 
            justify-content: center
            position: relative
        &__model
            position: relative
            &-image
                position: absolute
                height: 100%
                width: auto
                top: 0
                left: 0
        &__logo
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 10%
            &__image
                width: 100%
                height: auto
        &__shop
            position: absolute
            left: 50%
            transform: translateX(-50%)
            bottom: 60px
            line-height: 21px
            text-transform: uppercase
            letter-spacing: 21px
            font-weight: 600
.dress
    &-item
        width: 100%
        position: relative
        display: none
        &__image
            width: 100%
            height: auto
        &__inner
            position: absolute
            display: flex
            justify-content: flex-end
            width: 100% 
            top: 50%
            right: 10%
            line-height: 150%
            letter-spacing: 0.15em
        &__text
            background: rgba(255,255,255, 0.8)
            max-width: 200px
            &-price
                font-weight: bold
        &--active
            display: block
    &-slider
        display: flex
        justify-content: center
        position: absolute
        bottom: 60px
        left: 50%
        transform: translateX(-50%)
        &__item
            width: 2px
            height: 10px
            background-color: #383838
            opacity: 30%
            margin-right: 30px
            &--active
                height: 30px
                opacity: 1
                margin-top: -20px
        &__item:last-child 
            margin-right: 0
     
        